.work__filters {
    display: flex;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2.5rem;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills container and crops if necessary */
    display: block;
    object-position: top; /* aligns top of img w top of container */
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}


.work__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: 100%;
    height: 250px;
}

.work__mask {
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s;
    pointer-events: none; /* lets links be clicked thru mask */
}

.work__card:hover .work__mask {
    opacity: .75;
}

.work__category {
    color: white;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.work__title {
    color: white;
    font-size: var(--h2-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.work__button {
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: block;
    background-color: var(--first-color);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    opacity: 0;
    z-index: 2;
}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__category {
    opacity: 1;
    transform: translateY(0);
}

.work__thumbnail {
    height: 100%;
}